{% extends 'base.html' %}
{% load static %}

{% block content %}
        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">View tests </h1>
                    <p class="lead fw-normal text-white-50 mb-0">View your tests</p>
                </div>
            </div>
        </header>
<br/>
        <div class="container">
            <div class="row>">
                <div class="col-md-6 offset-md-3">
                    <h3>View tests</h3>
                                    <table class="table table-striped table-hover table-bordered">
                  <thead class="table-dark">
                    <tr>
                      <th scope="col">Test Name:</th>
                      <th scope="col">Change name</th>
                      <th scope="col">View Detail</th>
                        <th scope="col">Delete</th>
                    </tr>
                  </thead>
                  <tbody>
                {% if tests %}
                    {% for test in tests %}
                    <tr>
                        <td>{{test.title}}</td>
                        <td><a href="{% url 'update_test' test.id %}" class="btn btn-sm btn-primary">Change test's course or name</a></td>
                        <td><a href="{% url 'test_detail' test.id %}" class="btn btn-sm btn-success">View Detail</a></td>
                        <td><a href="{% url 'delete_test' test.id %}" class="btn btn-sm btn-danger">Delete Test</a></td>

                    </tr>
                    {% endfor %}
                {% endif %}
                  </tbody>
                </table>
                </div>
            </div>
        </div>

{% endblock %}