{% extends 'base.html' %}
{% load static %}

{% block content %}
        <!-- Header-->
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Assignments </h1>
                <p class="lead fw-normal text-white-50 mb-0">Assignments for {{user.username }}</p>
            </div>
        </div>
    </header>
<br/>
    <div class="container">
        <div class="row>">
            <div class="col-md-6 offset-md-3">
                    <div class="card border-dark ">
                        <table class="table table-striped table-hover table-bordered">
                          <thead class="table-dark">
                            <tr>
                              <th scope="col">Title</th>
                              <th scope="col">Student</th>
                              <th scope="col">Status</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for assignment in assignments %}
                                <tr>
                                    <td>{{ assignment.test.title }}</td>
                                    <td>{{ assignment.student }}</td>
                                    {% if assignment.status == 'completed' or assignment.status == 'Completed' %}
                                    <td><a href="{% url 'grade_test' assignment.id %}" class="btn btn-primary">
                                        Grade test</a></td>
                                    {% else %}
                                        <td>{{ assignment.status }}</td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                          </tbody>
                        </table>
                        <br/><br/><br/>
                    </div>
            </div>
        </div>
    </div>

{% endblock %}